Package: ders-takip-chroot
Version: 1.0
Architecture: all
Maintainer: Kapadokya Universitesi AAC
Depends: python3, debootstrap, rsync, sudo, openssh-server, vim, curl, wget
Section: education
Priority: optional
Description: Kapadokya Ders Takip Sistemi - Chroot Terminal Yöneticisi
 Bu paket, ogrenci sanal makinelerinde (CT 991, 992 vb.) chroot 
 ortamini kurmak, PTY onarimini yapmak (V14) ve ogrenci oturumlarini 
 yonetmek icin gerekli Python betiklerini icerir. Bagimliliklari
 ve servisleri otomatik kurar.
