[Unit]
Description=Run Chroot Cleanup Every 10 Minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=1min

[Install]
WantedBy=timers.target
